.center {
    margin: auto;
    width: 90%;
    padding: 10px;
}

.cellwidth {
    width: 20%; 
    text-align: left;
    vertical-align: top;
    font-size:14px
}

.heighttext{
    float:left;
    height:22px;
    width:120px;
    }
