.space {
    padding-top:20px; 
    padding-left:30px;
    padding-right:30px; 
    padding-bottom:20px; 
}

.rectangle {
    background-color: cyan;
}

.rectangle1 {
    background-color: rgb(21, 255, 0);
}